* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

html {
  height: 100%;
  color: #212121;
  font: 10px AvenirNext-Heavy;
}

body {
  height: 100%;
  background: #fff;
}

#wrapper {

}